html, body {
    margin:  0;
    padding: 0;
}
.eile {
    display: flex;
    padding: 1em 2em;
}
ul li {
    display: inline;
}
#virsus {
    background-color: darkgreen;
    justify-content: space-between;
    align-items: center;
}
#straipsniai > div {
    background-color: bisque;
    margin:  1em;
    padding: 1em 2em;
}
#pabaiga {
    background-color: darkseagreen;
    justify-content: space-between;
}